@import "scss/bootstrap/functions";
@import "scss/bootstrap/variables";
@import "scss/bootstrap/mixins";
@import "scss/bootstrap/vendor/rfs";


// Initialize
@import "scss/variables";
@import "scss/mixins";

// Core CSS
@import "scss/reset";
@import "scss/helpers";
@import "scss/layouts";

// Content Blocks
@import "scss/header";
@import "scss/elements";
@import "scss/footer";
@import "scss/extras";



/////////////////////
// Colors
$color_gold: #ffc224;
$color_gold_hover: darken($color_gold, 10%);
$color_black: #212529;


// re-model the default bar to show elements
#header{
  .logo{
    img{
      width: 56px;
      padding: 8px;
    }
  }

  nav{
    //font-family: monospace;
    text-transform: lowercase;
    ul{
      display: flex;
      flex-direction: row;
    }
  }
}

// handle the hamburger menu
#mobileNavToggle{
  background: transparent;
  border: none;
  display: flex;
  // actually an svg
  img{
    width: 32px;
  }
}

///////////////////////
// Handles the mobile navigation menu that appears < md devices
.mobile-nav {

  // controls the visibility of the overlay element
  visibility: hidden;
  opacity: 0;
  &.expanded{
    visibility: visible;
    opacity: 1.0;
  }

  // the exit button for the mobile menu
  #mobile-x{
    position: absolute;

    color: white;
    right: 64px;
    top: 32px;
    text-decoration: none;
    font-size: 64px;

  }

  // General styling of elements
  font-family: monospace;
  height: 100vh;
  z-index: 99999999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: var(--alpha-header);
  background: $color_black;
  color: #ffffff;
  width: 100%;
  touch-action: none;
  font-size: 2rem;
  text-align: center;

  // styling of menu items, social icons
  .navbar-nav{
    flex-direction: column;
  }
  .social-icons {
    padding: 2rem;
  }
  li{
    text-transform: lowercase;
    a{
      transition: all 300ms ease-in-out;
      color: white;
      &:hover{
        transition: all 300ms ease-in-out;
        color: $color_gold_hover;
      }
    }
  }
}

/////////////////////////////////////////
//// Projects section
.project-entry{

  .afterline{
    margin: auto;
    height: 1px;
    background-color: #efefef;
    width: 61.8%;
  }
  a{
    text-decoration: none;
    border-bottom: solid 2px $color_gold;
    color: $color_gold;
    transition: 350ms all ease-in-out;
    &:hover{
      transition: 350ms all ease-in-out;
      border-bottom: solid 2px $color_gold_hover;
      color: $color_gold_hover;
    }
  }
  padding: 1rem;
  .project-img{
    padding: 1rem;
    margin-bottom: 1rem;
    img{
      max-width: 100%;
      border-radius: 12px;
      box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0px -5px 15px -3px rgba(0,0,0,0.1);
    }
  }
}

///////////////////////////
//// Misc
.underlined{
  &.dark{
    &:after{
      content:"";
      display:block;
      width: 20rem;
      max-width:70%;
      border-bottom: 6px solid $color_black;
      margin: 8px 0 0;
    }
  }
  &:after{
    content:"";
    display:block;
    width: 20rem;
    max-width:70%;
    border-bottom: 6px solid $color_gold;
    margin: 8px auto 0;
  }

}

.btn-dark{
  &:hover{
    background-color: lighten($color_black, 10%);
    border-color:lighten($color_black, 10%);
  }
}
